body {
  font-family: 'Segoe UI', sans-serif;
}
.navbar-brand {
  letter-spacing: 1px;
}
.carousel-item {
  transition: transform 1.2s ease-in-out;
}
.imagen-producto{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.imagen-carrousel{
  width: 100%;
  height: 450px;
  display: block;
}